<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6a7c9b5e8d346a26f8a365a00/53b18c96f65e500ca506115cf.js");</script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body class="main-body">

    
        <div id="captioned-gallery">
            <figure class="slider">
                <figure>
                    <img src="banner_image_1.png" alt>
                </figure>
                <figure>
                    <img src="banner_image_2.png" alt>
                    
                </figure>
                <figure>
                    <img src="banner_image_1.png" alt>
                    
                </figure>
                <figure>
                    <img src="banner_image_2.png" alt>
                </figure>
            </figure>
        </div>
      
   
      <ul classname="logo-portal-ul">
        <li classname="logoli"><img class="nav-logo" src="white_logo.png" alt="" /></li>
        <a href=<%= user ? '/parentportal': '/register' %>
        <li class="portal-button-li"><button class="portal-button">Parent Portal ></button></li>
        </a>
      </ul>

      <div class="partnership-container">
        <div>
        <p>In partnership with</p>
        </div>
        <div class="partner-logo-container"> 
          <div id="village-div">
            <img src="village_properties_logo.svg" alt="">  
          </div>
          <div id="ymca-div">
            <img src="ymca_logo.svg">
          </div>
        </div>
      </div>

