<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mobilestyle.css' />
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6a7c9b5e8d346a26f8a365a00/53b18c96f65e500ca506115cf.js");</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="javascripts/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body class="main-body">
    <div id="captioned-gallery">
      <figure class="slider">
        <figure>
          <img src="banner_image_1.png" alt>
        </figure>
        <figure>
          <img src="banner_image_2.png" alt>
        </figure>
        <figure>
          <img src="banner_image_1.png" alt>
        </figure>
        <figure>
          <img src="banner_image_2.png" alt>
        </figure>
        <figure>
          <img src="banner_image_1.png" alt>
        </figure>
        <figure>
          <img src="banner_image_2.png" alt>
        </figure>
      </figure>
      <ul classname="logo-portal-ul">
        <li classname="logoli"><img class="nav-logo" src="white_logo.png" alt="" /></li>
        <% if (user) { %>
        <a href="/parentportal" >
          <li class="portal-button-li"><button class="portal-button">Parent Portal ></button></li>
        </a>
        <% } else { %>
        <li class="portal-button-li"><button id="myBtn" class="portal-button">Parent Portal ></button></li>
        <% } %>
      </ul>
    </div>
    <div class="partnership-container">
      <div>
        <p>In partnership with</p>
      </div>
      <div class="partner-logo-container">
        <div id="village-div">
          <img src="village_properties_logo.svg" alt="">  
        </div>
        <div id="ymca-div">
          <img src="autio_logo.svg">
        </div>
      </div>
    </div>
    <div class="mid-section">
      <div class="about-div">
        <div class="home-of-team-div">
          <div>
            <h1 class="yellow-h1">Home of Team LevelUp</h1>
          </div>
          <div>
            <p class="about-p">Play to learn, play to practice, and you will win when you play in games. Remember how much fun you had growing up when you used to just go outside and play with your friends? We advocate using the "compete to learn" approach to practice--it lets kids play and have fun while competing. This type of practice, using competitive drills, does a better job of preparing players to compete in real games. Technically, this is called transference. What you do in practice carries over into what you do in games.
            </p>
          </div>
        </div>
        <div class="yellowline"></div>
        <div class="program-mission-div">
          <h1 class="yellow-h1">Program Mission & Goals</h1>
          <p class="about-p">Want to improve your team's ball handling? Games like dribble knockout are very popular. Every player must have his or her own basketball. Coach starts the game. Every player must dribble constantly, stay in-bounds and try to knock the ball away from all other players in the game. Lose control of your basketball or go out-of-bounds, and you're eliminated. Boundaries for 10-12 players could start as half the court. After several players are eliminated, the boundary is reduced to only inside the 3-point area. Boundary is reduced again to the free-throw lane. Finally, when there are just two players left, they play the "finals" in the free throw half circle.</p>
        </div>
        <div class="yellowline"></div>
        <div class="coachingstaffcontainer">
          <div>
            <h1 class="coachingstaff">Coaching Staff & Personnel</h1>
          </div>
          <div class="coachcontainer">
            <div class="coach">
              <div>
                <h1>Damon Samper</h1>
              </div>
              <div>
                <h2>Program Director</h2>
              </div>
              <div>
                <p>Coach Samper has more than a decade of experience coaching youth as a developmental skills and team coach.  He grew up playing in Cleveland at a Div I school during the same time as Lebron James and played collegiately and professionally in the ABA and UBA.  He has run training camps for the Cleveland Cavaliers and Utah Jazz and, most recently, was Director of the LA Clippers Youth Basketball Program.  He has trained with the likes of Kyrie Irving, Al Jefferson, Kyle Korver, and many more top NBA talent.  Coach Samper works and resides in Santa Barbara, CA as a teacher at a local private school for elementary through middle school and is a 1:1 coach to many of the local kids across the city.  His forte is utilizing innovative tools for practical skills development while making every session, practice, and game a fun and rewarding experience.  Most importantly, his demeanor and positivity working with kids is completely in line with our Program Goals and Mission.  We are fortunate to have someone of his caliber in our small locale.
                </p>
              </div>
            </div>
            <div class="coach">
              <div>
                <h1>Bill Doer</h1>
              </div>
              <div>
                <h2>Program Director</h2>
              </div>
              <div>
                <p>Bill has been working with youth of all ages for many years across a multitude of sports.  He currently runs all youth programs for the Montecito YMCA and after-school sports programs at the local elementary school.  Bill was one of the founders of Team LevelUp due to his desire to provide the local basketball youth with a club team that would allow a more competitive, traveling option for the community.  
                  Team LevelUp is under the YMCA umbrella and as Program Director, Bill oversees all registration, scheduling, and communication (among many other hats) for the Team.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tysponsorcontainer" >
      <div>
        <h1>Thank You to Our Generous Sponsors</h1>
      </div>
      <div class="tyimgcontainer"> 
        <img class="tyimg"src="2Leaf Logo.svg">
        <img class="tyimg"src="los_agaves_logo.svg">
        <img class="tyimg"src="bettina_logo.png">
      </div>
    </div>
    <div class="mailingcontainer">
      <div class="stayupdated-div">
        <h1>Stay updated.</h1>
      </div>
      <div class="form-div">
        <form action="/levelup/mailing" method="post">
          <div class="formitem">
            <input class="mailinput"type="text" name="name" placeholder="Your Name"> 
          </div>
          <div class="formitem">
            <input id="email" name="email" type="text" placeholder="Your Email" autocomplete="username" required autofocus>
          </div>
          <div class="formitem">
            <button class="mailsubmitbutton"type="submit">Sign up</button>
          </div>
        </form>
      </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-div">
        <span class="close">&times;</span>
        <div class="modal-content">
          <div>
            <h1 class="modal-h1">Please enter your password</h1>
          </div>
          </br>
          <div class="modal-form-div">
            <form class="modal-sign-in"action="/login" method="POST" style="max-width: 300px">
              <div class="modal-item">
                <input type="text" name="password" placeholder="Enter Password"> </input>
              </div>
              <div>
                <button class="modal-button modal-item" type="submit">Sign in</button>
              </div>
            </form>
            <div>
              <p class="reachout">If you have any sign in trouble, please reach out to the program administrator.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
  </body>
</html>