<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="main-body">
    
    <!-- <header class="main-header" role="banner">
      <img src="banner_image_1.png" alt="Banner Image"/>
    </header> -->
    <ul>
      <li><img class="nav-logo" src="white_logo.png" alt="" /></li>
      <li class="portal-button-li"><button class="portal-button">Parent Portal ></button></li>
    </ul>
    

   
    
    
    
  </body>
</html>
