<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mobilestyle.css' />
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body class="main-body">

    <div id="captioned-gallery">
      <figure class="slider">
          <figure>
              <img src="banner_image_1.png" alt>
          </figure>
          <figure>
              <img src="banner_image_2.png" alt>
              
          </figure>
          <figure>
              <img src="banner_image_1.png" alt>
              
          </figure>
          <figure>
              <img src="banner_image_2.png" alt>
          </figure>
      </figure>
      <h1 class="parent-portal-header-h1">Parent Portal</h1>
  </div>

  <ul classname="logo-portal-ul">
    <li classname="logoli"><img class="nav-logo" src="white_logo.png" alt="" /></li>
  <li><a href="/logout">
  <button class="logout-button">Logout</button>
  </li>
  </a> 
</ul> 

  <div class="partnership-container">
    <div>
    <p>In partnership with</p>
    </div>
    <div class="partner-logo-container"> 
      <div id="village-div">
        <img src="village_properties_logo.svg" alt="">  
      </div>
      <div id="ymca-div">
        <img src="ymca_logo.svg">
      </div>
    </div>
  </div>

  <div class="parent-mid-container">

    <div class="parent-halves-container">
    <div class="parent-mid-top-half">
    <div class="spring-div"><h1 class="portal-h1">Spring Schedule</h1></div>

    <div class="top-half-right-container">
      <div class="top-half-right-div">

        <div>
        <h1 class="portal-h1">Practices</h1>
        </div>

        <div>
        <p class="portal-p">Tuesdays and Thursdays @ 5pm.  FIRST PRACTICE THIS THURSDAY AT 5PM. Possibility of Mondays at 4:30pm as an alternate day if that is better for families' schedules.  Please let me know of any preferences.</p>
        </div>

      </div>
      <div class="top-half-right-div">
        <div>
          <h1 class="portal-h1">Games</h1>
          </div>
  
          <div>
          <p class="portal-p">Smith is working with SF house to arrange games.  It may be sporadic in the beginning as they are looking for a coach, but we should be able to have scrimmages and games with the other teams that have coaches.  We will eventually look to have games weekly, preferably Saturdays.</p>
          </div>

      </div>
      <div class="top-half-right-div">
        <div>
          <h1 class="portal-h1">Tournaments</h1>
          </div>
  
          <div>
          <p class="portal-p">We are looking to play in 1-2 tournaments before the summer.  We will gauge readiness and family schedules, but looking at the end of April (Spring Championship) and mid-May (Spring Finale). These dates are definitely not set, not-mandatory, but we view them as a great way to expose our kids to different levels of the sport from different cities/regions.  </p>
          </div>

      </div>
    </div>
  </div>

    <div class="parent-mid-mid-half">
      <div class="location-div">
        <h1 class="portal-h1">Location</h1>
      </div>

      <div class="location-text-div">
        <p class="portal-p">Practices will be held at the Sacramento High School on the Upper Courts.  There are 3 levels of basketball courts - the Upper Courts are off Kittens Rd.   </p>
      </div>

    </div>

    <div class="parent-bottom-half">
      <div class="parent-bottom-left-div">
        <div> <h1 class="portal-h1">Cost</h1></div>
        <div><p class="portal-p">We are asking families for $200/mo through May, and possibly for the first part of June, solely to cover coach expenses, uniforms and gear (we plan to have some cool jerseys, warmups, and gear), and program costs.  

          Costs for Tournaments are extra but are typically around $350 per team for registration.  If there is any shortfall, I've committed to covering those costs. </p></div>
      </div>
      <div class="parent-bottom-right-div">
        <div><h1 class="portal-h1">Seasons & Locations</h1></div>
        <div><p class="portal-p">This team is a 4-Season Club Team and Skills Academy. The Club Team plays in the Fall, Spring, and Summer (dependent on availability) as a traveling team playing other local teams and 1-3 local tournaments per season.  

          The Winter Season is played at the Sacramento and Hawaii YMCA basketball leagues.  Throughout the year and in the Summer, we also offer Skills Clinics and Basketball Camps.
          
          For additional information please contact us below.</p></div>
      </div>

    </div>
  </div>
    </div>


    <div class="tysponsorcontainer" >
      <div>
        <h1>Thank You to Our Generous Sponsors</h1>
      </div>
      <div class="tyimgcontainer"> 
        <img class="tyimg"src="2Leaf Logo.svg">
        <img class="tyimg"src="los_agaves_logo.svg">
        <img class="tyimg"src="bettina_logo.png">
        
      </div>
    </div>

</body>
</html>
    