<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="main-body">
    <h1>Register Page</h1>
    <form action="/register" method="POST" style="max-width: 300px">
        <input type="text" name="username" placeholder="Enter Username"> 
        <input type="email" name="email" placeholder="Enter Email">
        <input type="text" name="name" placeholder ="Enter Name">
        <input type="text" name="password" placeholder="Enter Password"> 
        <input type="checkbox" name="mailuser">
        <button type="submit">Submit</button>
        
      </form>
      <a href="/">Cancel</a>



</body>
    
  
</html>
    